<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<div style='border: 3px dashed red'>
  <img style="height: 100%;" src='https://i.pinimg.com/originals/fe/37/24/fe37248caf13cd8136c4d0a88739e3a3.jpg'>
</div>
